$dark-background-color: #545c64;
$dark-text-color: #fff;
$dark-active-text-color: #ffd04b;

$light-background-color: #fff;
$light-text-color: #303133;
$light-active-text-color: #409EFF;

:export {
  dark: {
    backgroundColor: $dark-background-color;
    textColor: $dark-text-color;
    activeTextColor: $dark-active-text-color;
  };
  light: {
    backgroundColor: $light-background-color;
    textColor: $light-text-color;
    activeTextColor: $light-active-text-color
  };
}