:root {
  // 主题相关
  --color-primary: #409EFF;
  --color-secondary: #979797;
  --color-success: #00d212;
  --color-warning: #f0bd00;
  --color-danger: #ff0d22;
  --color-info: #00a5ee;
  --color-black: #000;
  --color-wihte: #fff;
  --color-gray: #e6e6e6;
  // mode 相关
  --color-background: var(--color-wihte);
  --color-text: var(--color-black);
}

$--color-primary: var(--color-primary);
$--color-secondary: var(--color-secondary);
$--color-success: var(--color-success);
$--color-warning: var(--color-warning);
$--color-danger: var(--color-danger);
$--color-info: var(--color-info);
$--color-black: var(--color-black);
$--color-wihte: var(--color-wihte);
$--color-gray: var(--color-gray);
$--color-background: var(--color-background);
$--color-text: var(--color-text);

$border-color: #e6e6e6;
